services:
  discord-bot:
    build:
      context: .
      dockerfile: Dockerfile
    image: live2d-discord-bot:latest
    container_name: live2d-discord-bot
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - .:/app
      - /app/node_modules
    networks:
      - web-network

networks:
  web-network:
    external: true